:root {
  --color1: #B0551A;
  --color2: #D0982B;
  --color3: brown;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font: 100% / 200% 'Trebuchet MS';
  overflow: hidden;
}
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: white;
  max-width: 50em;
  margin: 0 auto;
}
main {
  padding: 2rem;
}

article img {
  position: fixed;
  top: 20px;
  left: 50%;
  height: 50vh;
  transform: translate(-50%, 0%);
  border: 10px solid var(--color2);
}

article h1 {
  position: fixed;
  left: 5vw;
  top: 50vh;
  border: 1px solid;
  padding: 10px;
  color: var(--color1);
  background-color: white;
}

article p:first-of-type {
  position: fixed;
  top: 60vh;
  left: 10vw;
  right: 20vw;
  color: black;
}


#food{
  width: -webkit-fill-available;
  position: fixed;
  top: 40vh;
  left: -10vw;
  height: -webkit-fill-available;
  background-color: var(--color1);
  clip-path: url(#svgPath2);
}




/* Counter */

article p:nth-of-type(2){
  position: fixed;
  top: 50vh;
  right: 50px;
  font-size: 3em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 0; /* Collapse the original line */
  font-size: 0px;
  color: var(--color1);
}

article p:nth-of-type(2):before{
  content: "0";
  animation:  seconds  1s steps(1) infinite;
  display: block;
  line-height: initial;
  position: absolute;
  left: -28px;
  font-size: 3rem;
}

@keyframes seconds {
  0% {
      content: '0314';
  }

  10%{
      content: '9273';
  }

  20% {
      content: '5294';
  }

  30% {
      content: '5695';
  }

  40% {
      content: '4098';
  }

  50% {
      content: '3205';
  }
  60% {
      content: '6884';
  }
  70% {
      content: '7312';
  }
  80% {
      content: '4094';
  }
  90% {
      content: '1285';
  }
}