* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font: 100% / 200% 'Trebuchet MS';
}
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: #000;
  max-width: 50em;
  margin: 0 auto;
}
main {
  padding: 2rem;
}

article img {
  position: fixed;
  top: 20px;
  left: 50%;
  height: 50vw;
  transform: translate(-50%, 0%);
}

article h1 {
  position: fixed;
  left: 5vw;
  top: 50vh;
  border: 1px solid;
  padding: 10px;
}

article p:first-of-type {
  position: fixed;
  top: 60vh;
  left: 10vw;
  right: 20vw;
}

article p:nth-of-type(2){
  position: fixed;
  top: 50vh;
  right: 50px;
  font-size: 3em;
  writing-mode: vertical-rl;
  text-orientation: upright;
}