:root {
  --color1: #B0551A;
  --color2: #D0982B;
  --color3: brown;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font: 100% / 200% 'Trebuchet MS';
  overflow: hidden;
}
body {
  font-size: 1em;
  color: white;
  background-color: white;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

header{
  display: flex;
  width: calc(100% - 1em);
  position: fixed;
  z-index: 1;
  background-color: white;
  left: 0;
  top: 0;
  padding: 1em;
  justify-content: space-between;
}

header p {
  color: #FE0000;
  position: relative;
  font-size: 1.5em;
}

main {
  margin-top: 3em;
}

article {
  position: relative;
  width: 100%;
}

article img {
  position: relative;
  top: 20px;
  left: 50%;
  height: 14em;
  min-height: 14em;
  transform: translate(-50%, 0%);
  border: 1px solid var(--color1);
  min-width: 10em;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to top, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  margin-bottom: 70px;
  transition: all 0.9s;
}

img.logo {
  width: 15vw;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 0 100em;
  }
}


.content{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content a {
  color: #FE0000;
  font-weight: 800;
  border: 2px solid;
  width: max-content;
  padding: 0px 10px;
}

article h1 {
  position: relative;
  border: 5px solid var(--color1);
  padding: 10px;
  color: var(--color1);
  background-color: white;
  align-self: center;
  width: 80%;
  max-width: 400px;
  z-index: 1;
  transition: all 0.8s;
}


article h1 span:nth-child(1),article h1 span:nth-child(2){
  content: " ";
  position: absolute;
  /* clip-path: url(#next); */
  height: 2em;
  width: 2em;
  cursor: pointer;
  top: 0.5em;
}




article h1 span:nth-child(1):before{
  left: -40px;
  content: "";
  position: absolute;
  clip-path: url(#next);
  background-color: white;
  width: 100%;
  height: 100%;
}

article h1 span:nth-child(2){
  right: -40px;
}

article h1 span:nth-child(2):before{
  transform: scaleX(-1);
  cursor: pointer;
  content: "";
  position: absolute;
  clip-path: url(#next);
  background-color: var(--color1);
  width: 100%;
  height: 100%;
}

article .content p {
  position: relative;
  width: 100%;
  max-width: 600px;
  color: var(--color1);
  background-color: white;
  border: var(--color1) solid 1px;
  padding: 10px;
  transition: all 0.9s;
}


.food{
  width: 150vw;
  position: fixed;
  top: 20vh;
  left: -20vw;
  height: 150vw;
  background-color: var(--color1);
  clip-path: url(#svgPath);
  transition: 1.5s left;
}

body .food2{
  clip-path: url(#svgPath2);
  top: 40%;
  left: -85%;
  transform: rotate(50deg);
}

body .hideFrutit{
  left: -180vw;
}

body .opacityImage{
  opacity: 0;
}




/* Counter */

article .year{
  position: absolute;
  top: 0;
  right: 1.5rem; 
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 0; /* Collapse the original line */
  font-size: 0px;
  color: var(--color1);
  font-weight: 900;
  z-index: 1;
}

article .year:before{
  content: "0";
  animation:  seconds  1s steps(1) infinite;
  display: block;
  line-height: initial;
  position: absolute;
  right: -2.5rem;
  font-size: 4rem;
}

article .setNumber{
  font-size: 4rem;
}


body article .setNumber:before{
  font-size: 0rem;
}


@keyframes seconds {
  0% {
      content: '0314';
  }

  10%{
      content: '9273';
  }

  20% {
      content: '5294';
  }

  30% {
      content: '5695';
  }

  40% {
      content: '4098';
  }

  50% {
      content: '3205';
  }
  60% {
      content: '6884';
  }
  70% {
      content: '7312';
  }
  80% {
      content: '4094';
  }
  90% {
      content: '1285';
  }
}


img#i {
  display: none;
}